.main-chat
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        = @group.name
      %ul.main-header__left-box__member-list
        Member：
        %li.main-header__left-box__member-list__member
          - @group.users.each do |user|
            = user.name
    .main-header__edit-btn
      = link_to edit_group_path(@group.id) do
        Edit
        
  .messages
    = render @messages
  
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'message-text', placeholder: 'type a message'
      .input-box
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'submit-btn'
