.side-bar
  .side-bar__username
    = current_user.name
    .top-name
      %p.top-usertop
    .top-icon
      .top-icon_edit
        = link_to new_group_path do
          = icon('far', 'far fa-edit')
      .top-icon_setting
        = link_to edit_user_path(current_user) do
          = icon('fa', 'fa fa-cog')

  .side-bar__grouplist
    -current_user.groups.each do |group|
      .side-bar__grouplist__group
        = link_to '#' do
          .side-bar__grouplist__group__group-name
            = group.name
          .side-bar__grouplist__group__latest-message
            さんぷる
